

h1{
    box-sizing: border-box;
    color:rgba(0, 0, 0, 0.678);
    font-family: monospace;
    font-size:x-large;
    text-align: center;
    font-weight: 600;
    overflow:fixed;
    letter-spacing: 0.5em;
    text-transform:uppercase;
    text-decoration: underline;
    display: inline-block;
    left: 23%;
    right: 0%;
    padding: 20px 50px;
    padding-bottom: 30px;
    position: relative;
    top: 0%;
    width: 50%;
    background-image: -webkit-linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
    background-blend-mode:exclusion;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
}

.container {
    border: 2px solid #a2a2a6;
    padding: 10px;
    margin: 10px auto;
}

.blue {
    background-color: rgb(18, 39, 161);
    color:#fff;
}

.green {
    color:#fff;
    background-color: rgb(2, 103, 29);
}

.purple {
    background-color:rgb(102, 51, 153);
    color: #fff;
}

.yellow {
    background-color: rgb(255, 255, 0);
    color:#000;
}
.color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}